/* Variables
***************************************/
/* Paragraphs
**********************************************/
/* Header 1
**********************************************/
/* Header 2
**********************************************/
/* Header 3
**********************************************/
/* Header 4
**********************************************/
/* Header 5
**********************************************/
/* Header 6
**********************************************/
#ds-editor-seo-preview .ds-seo-preview span {
  display: block;
  font-style: normal;
  line-height: 1.33; }
  #ds-editor-seo-preview .ds-seo-preview span.title {
    margin-bottom: 4px;
    font-size: 15px;
    color: #1a0dab; }
  #ds-editor-seo-preview .ds-seo-preview span.link {
    font-size: 11px;
    margin-bottom: 4px;
    color: #006621; }
  #ds-editor-seo-preview .ds-seo-preview span.excerpt {
    font-size: 11px;
    margin-bottom: 0px;
    color: #545454; }

.term-php #ds-editor-seo-preview {
  display: block;
  width: 200%; }
  .term-php #ds-editor-seo-preview .ds-seo-preview {
    background: white;
    border-radius: 5px;
    padding: 24px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 32px;
    border: 1px solid rgba(0, 0, 0, 0.2); }

.dirigible-seo-page h1 {
  margin-bottom: 2rem;
  background: white;
  padding: 2rem;
  line-height: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  @media screen and (min-width: 600px) {
    .dirigible-seo-page h1 {
      margin: -8px -19px 24px -20px; } }
.dirigible-seo-page .dirigible-seo-tools .tool {
  box-sizing: border-box;
  padding: 2rem;
  background: #fff;
  max-width: 400px;
  min-width: 100%;
  margin: 0px 1% 1% 0px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  @media screen and (min-width: 700px) {
    .dirigible-seo-page .dirigible-seo-tools .tool {
      min-width: 49%;
      max-width: none;
      width: 49%; } }
  .dirigible-seo-page .dirigible-seo-tools .tool input {
    margin-bottom: 0px; }
  .dirigible-seo-page .dirigible-seo-tools .tool h3 {
    margin-top: 0px; }

.dirigible-seo-page .dirigible-seo-tools .notification {
  margin-top: 1.5rem;
  background: #2ecc71;
  border-radius: 3px;
  padding: 1rem;
  color: #fff; }
  .dirigible-seo-page .dirigible-seo-tools .notification h3 {
    margin-bottom: 4px;
    color: #fff; }
  .dirigible-seo-page .dirigible-seo-tools .notification p {
    margin: 0px; }
  .dirigible-seo-page .dirigible-seo-tools .notification a {
    color: #fff !important; }
  .dirigible-seo-page .dirigible-seo-tools .notification.error {
    border-left: 0px solid white;
    border: 1px solid #d62c1a;
    margin-bottom: 0px;
    background: #e74c3c; }
